include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include tr_consent_center *.css
recursive-include tr_consent_center *.csv
recursive-include tr_consent_center *.html
recursive-include tr_consent_center *.ico
recursive-include tr_consent_center *.js
recursive-include tr_consent_center *.json
recursive-include tr_consent_center *.md
recursive-include tr_consent_center *.png
recursive-include tr_consent_center *.py
recursive-include tr_consent_center *.svg
recursive-include tr_consent_center *.txt
recursive-exclude tr_consent_center *.pyc
